# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# font data
fonts/data/png_fonts/
fonts/data/svg_fonts/
fonts/data/tiff_fonts/


# OS files
.DS_Store
Thumbs.db
*~

# Editor
.vscode/
.idea/
*.swp

# Logs
*.log
