certifi==2026.1.4
charset-normalizer==3.4.4
fonttools==4.57.0
idna==3.11
numpy==1.24.4
opencv-python==4.13.0.90
pillow==10.4.0
requests==2.32.4
scipy==1.10.1
shapely==2.0.7
svgpathtools==1.7.2
svgwrite==1.4.3
urllib3==2.2.3
